{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
<link rel="shortcut icon" href="/static/logo.svg">
<a href="/logout" class="btn btn-secondary" style="position: absolute; top: 10px; right: 10px;">Выйти</a>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-2 mb-4">Страница Администратора</h1>
    <div class="row justify-content-center">
        <h2 class="text-center">Добро пожаловать!, <span style="color:green;"> {{ admin.full_name.split(' ')[0] }}</span></h2>
    </div>
    <a href="/" class="btn btn-outline-primary">Вернуться на главную страницу DreamHouse</a>
</div>

{% endblock %}