<!DOCTYPE html>
<html>

<head>
    <title>{{estate.type}} - DreamHouse</title>
    {% include 'bootstrap.html' %}
    <style>
        .img-responsive {
            max-width: 70%;
            height: auto;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="estate-info">
                    <h1 class="mb-2">{{estate.type}}</h1>
                    <p class="lead mt-0">{{estate.location}}</p>
                </div>
                <div class="photos">
                    {% if estate.photo %}
                    {% for photo_path in estate.photo.split(',') %}
                    <img src="{{ url_for('static', filename='uploads/' + photo_path) }}" class="img-responsive"
                        alt="Фото недвижимости">
                    {% endfor %}
                    {% else %}
                    <p>Нет фотографий</p>
                    {% endif %}
                </div>
                <div class="estate-info">
                    <h4>Комнаты</h4>
                    <p>{{estate.bedrooms}}</p>
                    <h4>Стоимость</h4>
                    {% if estate['cost'] is not none %}
                    <p>{{estate.cost}} {{estate.currency}}</p>
                    {% else %}
                    <p>Не указано.</p>
                    {% endif %}
                    <h4>Площадь</h4>
                    <p>{{estate.area}}</p>
                    <h4>Этажность</h4>
                    <p>{{estate.floor}}</p>
                    <h4>Описание</h4>
                    <p>{{estate.description}}</p>
                    <h4>Дополнительная информация</h4>
                    {% if estate['additional_information'] is not none %}
                    <p>{{estate.additional_information}}</p>
                    {% else %}
                    <p>Не указано.</p>
                    {% endif %}
                </div>
                {% if session.get('user_logged_in') and not session.get('admin_logged_in') %}
                <!-- Если пользователь авторизован и не администратор -->
                <div class="estate-actions mt-3">
                    {% if is_favorite %}
                    <form action="/remove_from_favorites/{{ estate.id }}" method="POST" id="remove-form">
                        <button type="submit" class="btn btn-secondary">Удалить из избранного</button>
                    </form>
                    {% else %}
                    <form action="/add_to_favorites/{{ estate.id }}" method="POST" id="add-form">
                        <button type="submit" class="btn btn-primary">Добавить в избранное</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="contact-form">
                    {% include 'contactusform.html' %}
                </div>
                <div id="map" class="container" style="background-color: #f0f8ff; padding: 20px;">

                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>