<!DOCTYPE html>
<html>

<head>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">Регистрация</h1>
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <form class="form-horizontal" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Имя:</label>
                        <div class="col-sm-10">
                            {{ form.name(class="form-control", placeholder="Введите имя") }}
                            {% for error in form.name.errors %}
                            <small style="color:crimson">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            {{ form.email(class="form-control", placeholder="Введите Email") }}
                            {% for error in form.email.errors %}
                            <small style="color:crimson">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="password">Пароль:</label>
                        <div class="col-sm-10">
                            {{ form.password(class="form-control", placeholder="Введите пароль") }}
                            {% for error in form.password.errors %}
                            <small style="color:crimson">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="confirm_password">Повторите пароль:</label>
                        <div class="col-sm-10">
                            {{ form.confirm_password(class="form-control", placeholder="Повторите пароль") }}
                            {% for error in form.confirm_password.errors %}
                            <small style="color:crimson">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>