<div class="text-center">
<h4>Связаться с нами</h4>
<form action="/sent-message" method="post">
    <div class="mb-2">
        <label>Имя</label><br>
        <input type="text" name="full_name" placeholder="Иванов Иван">
    </div>
    
    <div class="mb-2">
        <label>Номер телефона</label><br>
        <input type="text" name="phone_number" placeholder="+375292223344">
    
    <div class="mb-2">
        <label>E-mail</label><br>
        <input type="text" name="e-mail" placeholder="ivanovivan@dreamhouse.by">
    </div>

    <div class="mb-2">
        <label>Что вас интересует?</label><br>
        <textarea name="message" placeholder="Рассматриваю варианты квартир в центре Минска..."></textarea>
    </div>

    <div class="mb-2">
       <input type="submit"> 
    </div>
</form>
</div>